
<div class="absolute z-10"
     [ngStyle]="{'height.px':height,'width.px':width}"
     [style.top.px]="top" [style.left.px]="left" [style.border-color]="localBorderColor"
     [ngClass]="{'border':localBorderColor}">

  <div  class="w-full flex justify-between" *ngFor="let level of placeClassList; let i = index">
    <mat-form-field class="w-full rounded-l">
      <mat-select msInfiniteScroll (infiniteScroll)="getNextBatch(level)" (valueChange)="changeValue($event)"
                  [formControl]="level.placeLevel" [placeholder]="level.levelPlaceHolder" [(ngModel)]="level.levelValue">
        <mat-option>
          <ngx-mat-select-search [formControl]="level.levelFiltering" [searching]="searching"
                                 noEntriesFoundLabel="Вариантов не найдено"
                                 placeholderLabel="Введите название..."
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let place of level.filteredLevel | async" [value]="place">
          {{place.name}} {{ place.typeName}}.
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="w-[5%] mt-4 flex justify-center">
    <mat-icon *ngIf="level.levelValue" class="text-red-500 cursor-pointer"
              matTooltip="Очистить" (click)="clearLevel(i)">close</mat-icon>
    </div>

  </div>





</div>

