<div class="absolute z-10"
     [ngStyle]="{'height.px':height,'width.px':width}"
     [style.top.px]="top" [style.left.px]="left" [style.border-color]="localBorderColor"
     [ngClass]="{'border':localBorderColor}">

  <form [formGroup]="placeFormGroup"  class="w-full">
    <mat-form-field class="w-full" >
      <mat-select msInfiniteScroll (infiniteScroll)="getNextBatch()" [complete]="!loadComplete"
                  formControlName="placeLevel1" placeholder="Выберите регион ..." [(ngModel)]="value" >
        <mat-option>
          <ngx-mat-select-search formControlName="level1Filtering" [searching]="searching"
                                 noEntriesFoundLabel="Вариантов не найдено"
                                 placeholderLabel="Введите название..."
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let place of filteredLevel1 | async" [value]="place">
          {{place.name}} {{ place.typeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>




  </form>


</div>

