<div     [ngStyle]="{'height.px':height,'width.px':width}"
         [style.top.px]="top" [style.left.px]="left" [style.border-color]="localBorderColor"
         [ngClass]="{'border':localBorderColor}"
         class="absolute z-10 flex justify-center items-center" >
  <input class="w-full bg-white hover:border hover:border-primary-base dark:bg-slate-700 dark:text-white p-2"
         [maxlength]="maxLength" [minlength]="minLength" [max]="maxVal" [min]="minVal"
         [ngClass]="{
          'h-[50%]': inputType === 'checkbox',
          'h-full': inputType !== 'checkbox'
         }" *ngIf="inputType !== 'checkbox' && visible"
         [id]="componentID"
         [disabled] ="!enabled"

    type="{{inputType}}" placeholder="{{placeHolder}}" [(ngModel)]="value" (click)="select($event)" [mask]="regExp">
  <input class="w-full bg-white hover:border hover:border-primary-base dark:bg-slate-700 dark:text-white h-[50%]"
          *ngIf="inputType === 'checkbox' && visible" [disabled] ="!enabled"
          type="checkbox" (click)="select($event)" [checked]="checked">
  <span *ngIf="required" class="absolute flex h-2 w-2 top-0 right-0">
    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-300 opacity-75"></span>
    <span class="relative inline-flex rounded-full h-2 w-2 bg-red-500"></span>
  </span>

</div>

