<div class="h-full flex flex-col space-y-2">

  <div class="flex-none relative mt-2">
    <select
      class="peer h-full w-full rounded-[7px] border border-gray-200 border-t-transparent bg-transparent px-3 py-2.5
                     font-sans text-sm font-normal text-gray-700 outline outline-0 transition-all placeholder-shown:border
                     placeholder-shown:border-gray-200 placeholder-shown:border-t-gray-200 focus:border-2 focus:border-primary-base
                     focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-gray-50 dark:text-white dark:border-gray-50"
            [(ngModel)]="currentEventName">
      <option [ngValue]="null" disabled > -- Выбрать событие --</option>
      <option *ngFor="let event of eventList" [ngValue]="event" >{{ event.eventTitle }}</option>
    </select>
    <label
      class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none
      text-[11px] font-normal leading-tight text-gray-400 transition-all before:pointer-events-none before:mt-[6.5px]
      before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l
      before:border-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border
      after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-gray-200
      after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-gray-500
      peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px]
      peer-focus:leading-tight peer-focus:text-primary-base peer-focus:before:border-t-2 peer-focus:before:border-l-2
      peer-focus:before:border-primary-base peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-primary-base
      peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent
      peer-disabled:peer-placeholder-shown:text-gray-500 dark:peer-focus:text-white ">
      Событие объекта
    </label>
  </div>

  <div cdkDropListGroup class="flex-1 flex justify-between mt-4">
    <div class="w-[45%] border overflow-auto px-2">
      <h5 class="ml-4 bg-white px-1 text-gray-600">Все обработчики</h5>
      <div class="h-[90%]"
        cdkDropList
        [cdkDropListData]="currentAllWorkerList"
        (cdkDropListDropped)="dragged($event)">
        <div class="py-1"
             *ngFor="let item of currentAllWorkerList" cdkDrag>
          <div class="cursor-pointer p-1 rounded-md border hover:border-primary-light hover:shadow-md hover:-mt-0.5 duration-300 flex items-center">
          <mat-icon class="text-info-base">settings_ethernet</mat-icon>
          <span class="ml-2">{{item.name}}</span>
        </div>
        </div>
      </div>
    </div>

    <div class="w-[45%] border overflow-auto px-2">
      <h5 class="ml-4 bg-white px-1 text-gray-600">Текущие обработчики</h5>
      <div class="h-[90%]"
        cdkDropList
        [cdkDropListData]="eventWorkerList"
        (cdkDropListDropped)="dragged($event)">
        <div class="py-1"
             *ngFor="let item of eventWorkerList" cdkDrag>
          <div class="cursor-pointer p-1 rounded-md border hover:border-primary-light hover:shadow-md hover:-mt-0.5 duration-300 flex items-center">
            <span class="ml-2">{{item.order}}</span>
            <mat-icon class="text-error-base ml-2">settings_ethernet</mat-icon>
            <span class="ml-2">{{item.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
