<div (contextmenu)="rightClick($event)" (click)="showDatSourceProp = true"
     class="w-24 p-1  ml-1 hover:border hover:border-primary-light hover:bg-white duration-300 rounded-md cursor-pointer ">
  <div class="w-full border border-primary-dark rounded-md flex justify-center items-center bg-white">
    <mat-icon class="text-error-base">http</mat-icon>
  </div>
  <div class="text-xs text-center break-words p-0">{{ dataSource.name }}</div>
</div>

<div *ngIf="dataSourceMenuOpen && dataSourceMenuPosition" (mouseleave)="dataSourceMenuOpen = false"
     class="border border-primary-light bg-white rounded-md absolute p-2 -mt-1 -ml-1"
     [ngStyle]="{'left.px': dataSourceMenuPosition.x , 'top.px': dataSourceMenuPosition.y}">
  <ul class="list-group">
    <li
      class="flex items-center text-black hover:bg-primary-light hover:text-white mt-1 cursor-pointer rounded-sm w-full"
      (click)="editDataSource()">
      <mat-icon class="text-primary-base">edit</mat-icon>
      <span class="ml-2">Редактировать источник данных</span>
    </li>
    <li
      class="flex items-center text-black hover:bg-primary-light hover:text-white mt-1 cursor-pointer rounded-sm w-full"
      (click)="removeDataSource()">
      <mat-icon class="text-warning-base">clear</mat-icon>
      <span class="ml-2">Удалить источник данных</span>
    </li>
  </ul>
</div>


<div *ngIf="showDatSourceProp"
     class="absolute top-0 left-0 h-screen w-screen flex justify-center items-center bg-gray-200 z-50 bg-opacity-50">

  <!--  Настройка источника данных-->
  <div class="w-[80%] h-[80%] border border-primary-dark rounded-md bg-white p-1 relative flex flex-col">

    <mat-icon class="close-button"
              (click)="showDatSourceProp = false; currentWorker.next(undefined);this.responseDataMap=[]">close
    </mat-icon>

    <p class="text-center text-lg flex-none">Настройка источника данных</p>

    <div class="flex-none flex">
      <app-ice-input class="flex-1" [(ngModel)]="dataSourceChanges.name" [label]="'Наименование источника'"
                     [inputType]="'text'"></app-ice-input>
      <app-ice-input class="ml-1 flex-wrap" [ngModel]="dataSourceChanges.id" [label]="'Идентификатор'"
                     [readonly]="true"></app-ice-input>
    </div>

    <div class="border p-1">
      <mat-slide-toggle [(ngModel)]="isNativeSource" color="accent">
        <span class="ml-2"> {{ nativeString }}
          <span *ngIf="isNativeSource" class="text-primary-dark">{{' ' + bffUrl + ' ' }}</span>
          <span *ngIf="isNativeSource"> Метод: "POST")</span>
        </span>
      </mat-slide-toggle>
    </div>

    <div class="flex-none items-center relative gap-1 flex">

      <div class="flex-none relative">
        <select class="peer h-full w-full rounded-[7px] border border-gray-200 border-t-transparent bg-transparent px-3 py-2.5
                     font-sans text-sm font-normal text-gray-700 outline outline-0 transition-all placeholder-shown:border
                     placeholder-shown:border-gray-200 placeholder-shown:border-t-gray-200 focus:border-2 focus:border-primary-base
                     focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-gray-50 dark:text-white dark:border-gray-50"
                [(ngModel)]="dataSourceChanges.method">
          <option value="GET">GET</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
          <option value="PUTCH">PATCH</option>
        </select>
        <label
          class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none
      text-[11px] font-normal leading-tight text-gray-400 transition-all before:pointer-events-none before:mt-[6.5px]
      before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l
      before:border-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border
      after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-gray-200
      after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-gray-500
      peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px]
      peer-focus:leading-tight peer-focus:text-primary-base peer-focus:before:border-t-2 peer-focus:before:border-l-2
      peer-focus:before:border-primary-base peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-primary-base
      peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent
      peer-disabled:peer-placeholder-shown:text-gray-500 dark:peer-focus:text-white ">
          Метод
        </label>
      </div>

      <app-ice-input class="flex-1 -mt-2 ml-1" [(ngModel)]="dataSourceChanges.url" [label]="'URL запроса'" [inputType]="'url'" (isValid)="urlIsValid = $event"></app-ice-input>
      <button class="flex-wrap bg-primary-base text-white  font-medium rounded-lg text-sm px-4 py-2 "
              [ngClass]="!dataSourceChanges.method || !urlIsValid ? 'cursor-auto opacity-50 hover:bg-primary-base cursor-not-allowed' : 'hover:bg-primary-light cursor-pointer'"
              (click)="testConnection()">Получить данные
      </button>
    </div>

<!--    <ng-container [ngTemplateOutlet]="ChangeFillComponent"></ng-container>-->


    <mat-tab-group class="flex-1 overflow-auto" (animationDone)="selectTab()" (selectedIndexChange)="selectedTabIndex = $event">

      <mat-tab > <!-- Вкладка Сопряжение данных-->
        <ng-template mat-tab-label><mat-icon>assignment</mat-icon>Сопряжение данных</ng-template>

        <div class=" flex flex-col h-full border">
          <div class=" flex items-center bg-white absolute top-0 left-0 w-[98%] h-8 border-b">
            <div class="flex w-full">
              <div class="w-[5%] text-center">№</div>
              <div class="w-[50%] text-center">Путь</div>
              <div class="w-[30%] text-center">Значение</div>
              <div class="w-[15%] text-center">Компонент</div>
            </div>
          </div>

          <div class="flex-1 mt-8 w-[98%] ">
            <div
              class="flex cursor-pointer border border-white text-base  hover:border-primary-light hover:animate-pulse duration-200 rounded-lg"
              [ngClass]="{'bg-gray-200': i%2 != 0}"
              (click)="openComponentRelationDialog(data);"
              *ngFor="let data of responseDataMap | dataSourceFilter: sourceSearchText; let i = index">
              <div class="w-[5%] px-1">{{ i }}</div>
              <div class="w-[50%] px-1 overflow-auto flex items-center">
                <span class="text-error-base">{{data.key.startsWith("[") ? data.key.substring(0,data.key.lastIndexOf("]") + 1) : "" }} </span>
<!--                <mat-icon class="">arrow_right_alt</mat-icon>-->
                <div>{{ data.key.substring(data.key.lastIndexOf("]") + 1, data.key.length) }}</div>
              </div>
              <div class="w-[30%] px-1 overflow-auto">{{ data.value }}</div>
              <div class="w-[15%] px-1 flex justify-between items-center">
                <div>{{ data.componentName }}</div>
                <mat-icon *ngIf="data.componentName" class="text-error-base cursor-pointer hover:animate-pulse"
                          (mouseenter)="onClear = true" (mouseleave)="onClear = false"
                          (click)="removeRelation(i); data.componentName = undefined">close
                </mat-icon>
              </div>
            </div>
          </div>

        </div>
      </mat-tab>

      <mat-tab > <!-- Вкладка Переменные запроса-->
        <ng-template mat-tab-label><mat-icon>playlist_add</mat-icon>Переменные запроса</ng-template>
        <div class="border h-full p-2 flex flex-col">

          <div class="flex-none border-b flex">
            <p class="text-center w-[45%]">Ключ</p>
            <p class="text-center w-[45%]">Значение</p>
            <p class="text-center w-[10%]">Авто</p>
          </div>
          <div class="flex-1 overflow-auto">
            <div *ngFor="let pv of dataSourceChanges.pathVariables; let i = index" class="flex p-1" >
              <input [(ngModel)]="pv.key" class="w-[45%] pl-1" placeholder="Имя переменной" [ngClass]="{'bg-gray-200': i%2 === 0}">

              <div class="w-[45%] ml-1 flex">
                <input class="flex-1 pl-1" [(ngModel)]="pv.value"  placeholder="Значение переменной" [ngClass]="{'bg-gray-200': i%2 === 0}" [readOnly]="pv.isAutoFill">
                <button *ngIf="pv.isAutoFill" (click)="setAutoFillComponent(i,'path')" class="bg-white px-4 mx-0.5 rounded-md border border-primary-dark flex-none ml-1">...</button>
              </div>
              <div class="w-[10%] flex justify-center items-center">
                <mat-slide-toggle [(ngModel)]="pv.isAutoFill"></mat-slide-toggle>
              </div>
            </div>
          </div>

          <div class="flex-none">
            <div class="flex justify-start items-center border bg-primary-base" >
              <mat-icon class="text-green-500 cursor-pointer" matTooltip="Добавить строку" (click)="addRowPathValue()">add</mat-icon>
              <mat-icon class="text-error-base cursor-pointer" matTooltip="Удалить строку" (click)="removeRowPathValue()">remove</mat-icon>
              <mat-icon class="text-error-base cursor-pointer" matTooltip="Очистить таблицу" (click)="clearTablePathValue()">close</mat-icon>
            </div>
            <p class="">«+» - добавить строку, «-» - убрать строку </p>
          </div>

        </div>

      </mat-tab>

      <mat-tab> <!-- Вкладка Тело запроса-->
        <ng-template mat-tab-label><mat-icon>playlist_add</mat-icon>Тело запроса</ng-template>

        <div class="border h-full p-2 flex flex-col">

          <div class="flex-none border-b flex">
            <p class="text-center w-[45%]">Ключ</p>
            <p class="text-center w-[45%]">Значение</p>
            <p class="text-center w-[10%]">Авто</p>
          </div>
          <div class="flex-1 overflow-auto">
            <div *ngFor="let bv of dataSourceChanges.bodyVariables; let i = index" class="flex p-1" >
              <input [(ngModel)]="bv.key" class="w-[45%] pl-1" placeholder="Имя переменной" [ngClass]="{'bg-gray-200': i%2 === 0}">

              <div class="w-[45%] ml-1 flex">
                <input class="flex-1 pl-1" [(ngModel)]="bv.value" placeholder="Значение переменной" [ngClass]="{'bg-gray-200': i%2 === 0}" [readOnly]="bv.isAutoFill">
                <button *ngIf="bv.isAutoFill" (click)="setAutoFillComponent(i,'body')" class="bg-white px-4 mx-0.5 rounded-md border border-primary-dark flex-none ml-1">...</button>
              </div>
              <div class="w-[10%] flex justify-center items-center">
                <mat-slide-toggle [(ngModel)]="bv.isAutoFill"></mat-slide-toggle>
              </div>

            </div>
          </div>

          <div class="flex-none">
            <div class="flex justify-start items-center border bg-primary-base" >
              <mat-icon class="text-green-500 cursor-pointer" matTooltip="Добавить строку" (click)="addRowBodyValue()">add</mat-icon>
              <mat-icon class="text-error-base cursor-pointer" matTooltip="Удалить строку" (click)="removeRowBodyValue()">remove</mat-icon>
              <mat-icon class="text-error-base cursor-pointer" matTooltip="Очистить таблицу" (click)="clearTableBodyValue()">close</mat-icon>
            </div>
            <p class="">«+» - добавить строку, «-» - убрать строку </p>
          </div>

        </div>

      </mat-tab>

    </mat-tab-group>


    <div class="h-1 flex-none"></div>

    <div class="flex-none border-t border-t-primary-dark flex justify-end items-center pt-0.5 gap-1">

      <div *ngIf="selectedTabIndex === 0" class="relative flex-1">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <input type="search" [(ngModel)]="sourceSearchText"
               class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Поиск..." required>
      </div>

      <button class="flex-none button-style right-0 bottom-0 relative" (click)="SaveAndClose()">Сохранить</button>
    </div>
  </div>
</div>

<div *ngIf="showComponentRelationDialog"
     class="absolute top-0 left-0 h-screen w-screen flex justify-center items-center bg-gray-200 z-50 bg-opacity-50">
  <!--Настройка сопряжения с компонентом-->
  <div class="w-[50%] h-[50%] border border-primary-dark rounded-md bg-white p-1 relative flex flex-col gap-0.5">
    <mat-icon class="close-button" (click)="showComponentRelationDialog = false">close</mat-icon>

    <p class="text-center text-lg flex-none">Настройка сопряжения с компонентом</p>
    <div class="flex-none flex border text-lg">
      <div class="flex-1 text-center">{{ isSelectComponentType ? editVariable.key : currentResponseData.key }}</div>
      <div class="flex-none text-center text-warning-base animate-pulse"> >></div>
      <div class="flex-1 text-center">{{ tempComponentName }}</div>
    </div>

    <div class="flex mt-1">
      <div class="w-[5%] text-center">Ид</div>
      <div class="w-[55%]  text-center">Имя компонента</div>
      <div class="w-[40%]  text-center">Тип компонента</div>
    </div>

    <div class="flex-1 overflow-auto border rounded-t-lg p-0.5">
      <div
        class="flex cursor-pointer border border-white text-base  hover:border-primary-light hover:animate-pulse duration-200 rounded-lg"
        [ngClass]="{'bg-gray-200': i%2 != 0}"
        (click)="changeComponentForRelation(component)"
        *ngFor="let component of currentTemplateComponentList | componentFilter: searchText; let i = index">
        <div class="w-[10%] ">{{ component.componentID }}</div>
        <div class="w-[70%]">{{ component.componentName }}</div>
        <div class="w-[20%]">{{ component.componentType }}</div>
      </div>
    </div>

    <div class="flex-none  border-t border-t-primary-dark flex justify-end items-center pt-0.5 gap-1">

      <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <input type="search" [(ngModel)]="searchText"
               class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Поиск компонента, ид, имя, тип..." required>
      </div>

      <button class="button-style right-0 bottom-0 relative" (click)="SaveAndCloseRelation()">Сохранить</button>
    </div>

  </div>

</div>

<div *ngIf="showChangeTableColumNumDialog"
     class="absolute top-0 left-0 h-screen w-screen flex justify-center items-center bg-gray-200 z-50 bg-opacity-50">
  <!--Настройка сопряжения с компонентом-->
  <div class="w-[20%] h-[20%] border border-primary-dark rounded-md bg-white p-1">
    <p class="text-center text-lg border-b border-b-primary-dark">Выбрать номер столбца таблицы</p>
    <label for="colNumSelect" class="ml-1">Номер столбца таблицы:</label>
    <select id="colNumSelect" class="ml-1" (change)="columnSelected()" [(ngModel)]="selectedColumnNum">
      <option *ngFor="let num of tableColumnArray" [value]="num">{{ num }}</option>
    </select>

  </div>

</div>

<!--<ng-template #ChangeFillComponent>-->
<!--  <div class=" h-full w-full absolute top-0 left-0 flex justify-center items-center bg-gray-200 z-50 bg-opacity-50">-->
<!--    <div class="w-[50%] h-[50%] border border-primary-dark rounded-md"></div>-->

<!--  </div>-->
<!--</ng-template>-->
