<div class="w-screen h-screen bg-gray-200 flex justify-center items-center dark:bg-dark-background ">
  <div *ngIf="pinResult === undefined"
    class="bg-white dark:bg-slate-900 border border-primary-light p-2 w-[30%] rounded-lg shadow-gray-500 shadow-2xl min-w-fit">
    <p class="text-center text-lg dark:text-white w-full"><span class="text-error-base">&#10008;</span> Сброс пароля</p>
    <app-ice-input  label="Телефон" (value)="phone = $event" [inputType]="'phone'" [errorText]="phone_error"
                    [toolTip]="loginPasswordProperties ? loginPasswordProperties.loginValidatorHint : ''"></app-ice-input>
    <app-ice-input  label="Пароль" (value)="password = $event" [inputType]="'password'" [errorText]="password_error"
                    [toolTip]="loginPasswordProperties ? loginPasswordProperties.passwordValidatorHint : ''"></app-ice-input>
    <app-ice-input  label="Подтверждение пароля" (value)="dPassword = $event" [inputType]="'password'" [errorText]="dPassword_error"
                    [toolTip]="loginPasswordProperties ? loginPasswordProperties.passwordValidatorHint : ''"></app-ice-input>

    <button (click)="register()" [disabled]="isFieldsInvalid"
            class="mt-4 middle none center w-full rounded-lg bg-primary-base py-3 px-6 font-sans text-xs font-bold uppercase text-white
        shadow-md shadow-gray-500 transition-all hover:shadow-lg hover:shadow-gray-400 focus:opacity-[0.85] focus:shadow-none
        active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            data-ripple-light="true">
      Сброс
    </button>
  </div>


  <div *ngIf="pinResult != undefined"
       class="bg-white dark:bg-slate-900 border p-2 w-[30%] rounded-lg shadow-gray-500 shadow-2xl">
    <p class="text-center text-lg ">Введите пин-код</p>
    <app-ice-input label="Пин-код" (value)="pinCode  = $event" type="'text'"></app-ice-input>
    <button (click)="confirm()" [disabled]="pinCode === undefined || pinCode === ''"
            class="mt-4 middle none center w-full rounded-lg bg-primary-base py-3 px-6 font-sans text-xs font-bold uppercase text-white
        shadow-md shadow-gray-500 transition-all hover:shadow-lg hover:shadow-gray-400 focus:opacity-[0.85] focus:shadow-none
        active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            data-ripple-light="true">
      {{confirmButtonText}}
    </button>
  </div>

</div>


