<div class="w-full h-full p-1 rounded-md flex flex-col">
  <header class="flex-none text-center p-1">
    <mat-icon class="close-button" (click)="close()">close</mat-icon>
    Управление событиями компонента
  </header>

  <app-change-worker class="flex-1 border p-2"
                     [eventList]="eventList"
                     [allWorkerList]="workerList"
                     [(ngModel)]="localEvent">
  </app-change-worker>

  <footer class="flex-none border-t border-t-primary-base p-1 flex justify-end items-center">
    <button class="footer-button-style bg-warning-base" (click)="clearAllEvent()" *ngIf="localEvent.length > 0">Удалить
      все
    </button>
    <div class="w-1"></div>
    <button class="footer-button-style " (click)="saveAndClose()">Сохранить</button>
  </footer>
</div>
