.table-prop-dialog{
  height: 80vh;
  width: 80vw;
}
.title-text{
  text-align: center;
}
.footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 4px solid aqua;
  height: 20px;
  z-index: 100000;
}
