<div class="border border-solid border-primary-base w-[100%] h-10 p-1 bg-primary-base dark:bg-dark-background flex items-center justify-between">
  <div class="flex items-center">

    <button (click)="buttonClick('clear')" matTooltip="Очистить" class="toolBar-button-style">
      <mat-icon class="text-red-300 font-bold">clear</mat-icon>
      <span class="ml-1">Очистить</span>
    </button>

    <button (click)="buttonClick('watch')" matTooltip="Просмотр документа" class="toolBar-button-style">
      <mat-icon class="text-teal-300 font-bold">remove_red_eye</mat-icon>
      <span class="ml-1">Просмотр</span>
    </button>

    <button (click)="buttonClick('reordering')" matTooltip="Переупорядочить элементы для печати" class="toolBar-button-style">
      <mat-icon class="text-red-900 font-bold">sync_problem</mat-icon>
      <span class="ml-1">Порядок</span>
    </button>
  </div>
  <mat-slide-toggle *ngIf="currentStep" [(ngModel)]="currentStep.visible" (change)="change($event)">
    <div *ngIf="currentStep.visible" class="text-white">Видимый</div>
    <div *ngIf="!currentStep.visible"class="text-white">Не видимый</div>
  </mat-slide-toggle>
</div>
