<div class="p-1 bg-primary-base flex items-center justify-between">

  <div class="flex flex-1">

<!--    <button (click)="buttonClick('clear')" matTooltip="Очистить" class="toolBar-button-style flex-1">-->
<!--      <mat-icon class="text-info-base  scale-75">clear</mat-icon>-->
<!--      <span class="ml-1">Очистить</span>-->
<!--    </button>-->

    <button (click)="buttonClick('watch')" matTooltip="Просмотр документа" class="toolBar-button-style flex-1">
      <mat-icon class="text-info-base  scale-75">remove_red_eye</mat-icon>
      <span class="ml-1">Просмотр</span>
    </button>

<!--    <button (click)="buttonClick('reordering')" matTooltip="Переупорядочить элементы для печати" class="toolBar-button-style flex-1">-->
<!--      <mat-icon class="text-info-base scale-75 ">sync_problem</mat-icon>-->
<!--      <span class="ml-1">Порядок</span>-->
<!--    </button>-->

    <button (click)="buttonClick('dataSources')" matTooltip="Источники данных" class="toolBar-button-style flex-1">
      <mat-icon class="text-info-base scale-75">http</mat-icon>
      <span class="ml-1">Данные</span>
    </button>
    <button (click)="buttonClick('workers')" matTooltip="Обработчики" class="toolBar-button-style flex-1">
      <mat-icon class="text-info-base scale-75">settings_ethernet</mat-icon>
      <span class="ml-1">Обработчики</span>
    </button>
  </div>
  <div class="w-2"></div>
  <mat-slide-toggle class="flex-none" matTooltip="Видимость страницы"
    *ngIf="currentStep" [(ngModel)]="currentStep.visible" (change)="change($event)">
<!--    <div *ngIf="currentStep.visible" class="text-white">Видимый</div>-->
<!--    <div *ngIf="!currentStep.visible" class="text-white">Не видимый</div>-->
  </mat-slide-toggle>
  <div class="w-2"></div>
  <mat-slide-toggle class="flex-none" matTooltip="Видимость панели инструментов на данной странице"
    *ngIf="currentStep" [(ngModel)]="currentStep.isToolBar" (change)="change($event)">
<!--    <div *ngIf="currentStep.visible" class="text-white">Видимый</div>-->
<!--    <div *ngIf="!currentStep.visible" class="text-white">Не видимый</div>-->
  </mat-slide-toggle>


</div>
