<div #component cdkDrag cdkDragBoundary=".boundary"
     [cdkDragFreeDragPosition]="dragPosition"
     [ngStyle]="{'height.px':height,'width.px':width}"
     [cdkDragDisabled]="isResized"
     class=" mat-elevation-z2 absolute border border-solid border-primary-light hover:border-2 bg-white dark:bg-dark-background dark:text-white overflow-hidden cursor-move z-10 flex"
     [ngClass]="{
      'border-red-500 border-2' : isSelected,
      'z-10': !(isSelected && isDragged),
      'justify-start': textPosition.horizontal === 'left',
      'justify-center': (textPosition.horizontal === 'center'),
      'justify-end': textPosition.horizontal === 'right',
      'justify-self-stretch': textPosition.horizontal === 'justify',
      'items-start' : textPosition.vertical === 'top',
      'items-end': textPosition.vertical === 'bottom',
      'items-center': (textPosition.vertical === 'center')
     }"
     (mousedown)="selected($event)"
     (contextmenu)="rightClick($event)"
     (cdkDragStarted)="isDragged = true"
     (cdkDragEnded)="isDragged = false"
     (mouseenter)="isHover = true"
     (mouseleave)="!isDragged ? isHover = false : isHover = true">
    <div *ngIf="componentType != 'select' && componentType != 'upload'" class="w-full h-full"
         [innerHTML]="sanitizer.bypassSecurityTrustHtml(value ? value : placeHolder + (inputType ? ' ' + inputType : ''))">
    </div>
    <div *ngIf="componentType === 'select'" class="w-full h-full"
         [innerHTML]="sanitizer.bypassSecurityTrustHtml(placeHolder)">
    </div>
    <mat-icon *ngIf="componentType === 'upload'" class="ml-4 mt-2 text-blue-500 scale-[2.0]">
      cloud_upload
    </mat-icon>
  <mat-icon *ngIf="isResizable"
            (mousedown)="mouseDown($event)"
            class="text-red-800 scale-50 absolute right-0 bottom-0 translate-x-2 translate-y-2 cursor-nw-resize z-10">
    network_cell
  </mat-icon>

</div>
