<!--     [ngClass]="{'border':frameColor}"-->

<div class="absolute z-10"
     [ngStyle]="{'height.px':height,'width.px':width}"
     [style.top.px]="top" [style.left.px]="left" [style.border-color]="frameColor">

  <p class="font-semibold dark:text-gray-200">Сведения об основных контрагентах, планируемых плательщиках и получателях денежных
    средств</p>

  <div class="h-full overflow-y-auto"> <!--тело таблицы-->

    <div class="grid grid-cols-2 ">
      <div class="text-center font-semibold border dark:text-gray-200" [style.border-color]="frameColor">Плательщики</div>
      <div class="text-center font-semibold border dark:text-gray-200" [style.border-color]="frameColor">Получатели</div>
    </div>
    <div class="grid grid-cols-4 ">
      <div class="text-center italic border dark:text-gray-200" [style.border-color]="frameColor">Наименование</div>
      <div class="text-center italic border dark:text-gray-200" [style.border-color]="frameColor">Местонахождение (страна, город)</div>
      <div class="text-center italic border dark:text-gray-200" [style.border-color]="frameColor">Наименование</div>
      <div class="text-center italic border dark:text-gray-200" [style.border-color]="frameColor">Местонахождение (страна, город)</div>
    </div>


    <div *ngFor="let row of tableData" class="grid grid-cols-4">
      <textarea class="border dark:text-gray-200 dark:bg-slate-700" [style.border-color]="frameColor" type="text" [(ngModel)]="row.field1" (change)="setValue()"></textarea>
      <textarea class="border dark:text-gray-200 dark:bg-slate-700" [style.border-color]="frameColor" type="text" [(ngModel)]="row.field2" (change)="setValue()"></textarea>
      <textarea class="border dark:text-gray-200 dark:bg-slate-700" [style.border-color]="frameColor" type="text" [(ngModel)]="row.field3" (change)="setValue()"></textarea>
      <textarea class="border dark:text-gray-200 dark:bg-slate-700" [style.border-color]="frameColor" type="text" [(ngModel)]="row.field4" (change)="setValue()"></textarea>
    </div>
  </div>

  <!--  Кнопки управления-->
  <div class="flex justify-start items-center border bg-primary-dark" [style.border-color]="frameColor" *ngIf="enabled">
    <mat-icon class="text-green-500 cursor-pointer" matTooltip="Добавить строку" (click)="addRow()">add</mat-icon>
    <mat-icon class="text-error-base cursor-pointer" matTooltip="Удалить строку" (click)="removeRow()">remove</mat-icon>
    <mat-icon class="text-error-base cursor-pointer" matTooltip="Очистить таблицу" (click)="clearTable()">close</mat-icon>
  </div>
  <p *ngIf="enabled">«+» - добавить строку, «-» - убрать строку </p>


  <span *ngIf="required" class="absolute flex h-2 w-2 top-0 right-0 z-20">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-error-base opacity-75"></span>
      <span class="relative inline-flex rounded-full h-2 w-2 bg-error-base"></span>
    </span>
</div>
