<div     class="absolute z-10 rounded-lg m-1"
         [ngStyle]="{'height.px':height,'width.px':width}"
         [style.top.px]="top" [style.left.px]="left"
         [style.border-color]="localBorderColor"
         [ngClass] = "{'border':localBorderColor}" *ngIf="visible">
  <textarea
    [id]="componentID"  [disabled] ="!enabled" [matTooltip]="checkedText"
    class="h-full w-full bg-white hover:border hover:border-primary-base resize-none dark:bg-slate-700 dark:text-white p-2 rounded-lg"
    placeholder="{{placeHolder}}" [(ngModel)]="value" (click)="changeComponent()" [maxlength]="maxLength" [minlength]="minLength"></textarea>
</div>




