<div #watch_mainContainer xmlns="http://www.w3.org/1999/html">
  <div
    class="w-full mt-2 border-t border-b border-color flex items-center h-10 p-1 bg-primary-dark dark:bg-dark-background rounded-lg border border-gray-200" >

    <button *ngIf="openType === 'EDIT'" matTooltip="Очистить" (click)="clearStep()" class="toolBar-button-style">
      <mat-icon class="text-error-base font-bold">clear</mat-icon>
      <span class="ml-1">Очистить</span>
    </button>

    <button *ngIf="openType === 'EDIT'" matTooltip="Сохранить как черновик" (click)="saveDoc('DRAFT', 1)" class="toolBar-button-style">
      <mat-icon class="text-sky-300 font-bold">archive</mat-icon>
      <span class="ml-1">Сохранить</span>
    </button>

    <button *ngIf="currentDocument && currentDocument.status === 'DRAFT'" (click)="currentDocument = undefined" matTooltip="Другой документ" class="toolBar-button-style">
      <mat-icon class="text-emerald-300 font-bold">sort</mat-icon>
      <span class="ml-1">Новый документ</span>
    </button>

    <button *ngIf="isDocumentRequiredFieldNotEmpty && openType === 'EDIT'" (click)="saveDoc('CONTROL', 1)" matTooltip="Отправить на рассмотрение" class="toolBar-button-style">
      <span class="ml-1">Отправить</span>
      <mat-icon class="text-green-500 font-bold">arrow_forward</mat-icon>
    </button>

    <button *ngIf="currentDocument && currentDocument.status === 'AGREE'" (click)="changeStatusWithReason('DRAFT')" matTooltip="Вернуть документ для корректировки данных" class="toolBar-button-style">
      <mat-icon class="text-error-base font-bold">arrow_back</mat-icon>
      <span class="ml-1">Редактировать</span>
    </button>

    <button *ngIf="currentDocument && currentDocument.status === 'AGREE'" (click)="changeStatus('SENDING', 'Клиент подтвердил корректность данных')" matTooltip="Подтвердить корректность данных" class="toolBar-button-style">
      <span class="ml-1">Подтвердить</span>
      <mat-icon class="text-green-500 font-bold">arrow_forward</mat-icon>
    </button>

    <div class="flex-auto flex justify-end">
      <button (click)="print()" matTooltip="печать" class="toolBar-button-style ">
        <mat-icon class="text-lime-300 font-bold">print</mat-icon>
        <span class="ml-1">Печать</span>
      </button>
    </div>

    <div *ngIf="openType === 'VIEW' && (currentDocument && currentDocument.status !='AGREE')" class="w-full text-center text-gray-200 font-semibold">
      Просмотр документа ({{ currentDocument.status | docStatus }})
    </div>
  </div>

  <div class="flex justify-between w-full">


    <!--    это поле элементов-->
    <div class=" w-[80%]  mt-2 boundary ">

<!--      [label]="tab.stepName"-->
      <!--это страницы-->
      <div class="border-t border-b border-color ml-10">
        <mat-tab-group  [(selectedIndex)]="currentStepIndex" >
          <mat-tab class="font-mono" *ngFor="let tab of steps" [disabled]="disabledStep">
            <ng-template mat-tab-label>
              <mat-icon *ngIf="tab.checkedText === undefined" class="example-tab-icon">file_copy</mat-icon>
              <mat-icon *ngIf="tab.checkedText === 'ERROR'" class="example-tab-icon">thumb_down</mat-icon>
              <mat-icon *ngIf="tab.checkedText === 'SUCCESS'" class="example-tab-icon">thumb_up</mat-icon>
              <span class="ml-1">{{ tab.stepName }}</span>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="h-10 w-full"></div>

      <ng-template #watch_field></ng-template>
      <div class="w-full grid grid-cols-12 overflow-auto pr-2">
        <div *ngFor="let item of cellRowList; let outCell = index " class="flex">
          <app-cell class="flex-auto" *ngFor="let i of cellInnerList; let innerCell = index"
                    [cellType]="cellType"
                    [index]="outCell * cellColl + innerCell"></app-cell>
        </div>
      </div>

    </div>

    <div *ngIf="openType === 'EDIT'" class="w-[20%] ml-6 overflow-auto border-l border-color px-4 pt-2">
      <p *ngIf="commentText" class="text-gray-600 dark:text-gray-300 overflow-auto border-b border-color" >{{ commentText }}</p>
      <p *ngIf="checkedText" class="text-error-base dark:text-gray-300 overflow-auto border-b border-color" >{{ checkedText }}</p>
      <p *ngIf="!isDocumentRequiredFieldNotEmpty" class="text-error-base dark:text-gray-300 overflow-auto border-b border-color" >
        Документ не может быть отправлен на рассмотрение в банк. Не заполнены обязательные поля документа.
      </p>

      <div class="text-error-base text-xs dark:text-error-base overflow-auto" *ngFor="let item of validationText">
        <span class="text-black">&bull;</span>{{ item }}</div>
      <div *ngIf="currentDocument"  class="absolute bottom-0 w-fill border-t border-color pt-4 flex flex-wrap">
        <span class="relative flex h-2 w-2 ml-1 mt-1">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-warning-base opacity-75"></span>
            <span class="relative inline-flex rounded-full h-2 w-2 bg-warning-base"></span>
        </span>
        <span class="ml-1">- Обязательное поле!!!</span>
      </div>
    </div>

  </div>

</div>

<div *ngIf="!currentDocument && isOpenedTab" class=" absolute top-0 left-0 w-full h-full flex justify-center items-center">
  <app-maket-list (selectedMaket)="loadDocMaket($event)" class="mat-elevation-z8"></app-maket-list>
</div>

