<div class="absolute z-10 rounded-lg border-solid -2"
     [ngStyle]="{'height.px':height,'width.px':width}"
     [style.top.px]="top" [style.left.px]="left" [style.border-color]="localBorderColor"
     [ngClass]="{'border':frameColor}">

  <div class="w-full h-[40%] border-b border-b-gray-500">
    <input id="fileDropRef" class="absolute top-0 left-0 opacity-0 w-full h-[40%]" type="file" multiple
           (change)="getFile($event)" [disabled]="isUpload || !enabled">
    <div class="w-full flex justify-center item-center">
      <mat-icon class="text-blue-500 scale-[2.0] mt-2 opacity-50 ">cloud_upload</mat-icon>
    </div>
    <p class="w-full text-center mt-2 mb-0">Перетащите сюда</p>
    <p class="w-full text-center mt-0 mb-0">или</p>
    <div class="w-full flex justify-center" >
      <label class="z-50 bg-primary-dark rounded-lg text-white m-auto cursor-pointer hover:shadow-2xl px-2 py-1"
             [ngClass]="{'opacity-50 cursor-default' : isUpload}"
             for="fileDropRef" >Выбрать</label>
    </div>
  </div>
  <div class="w-full h-[48%] overflow-auto mt-2">
    <div *ngFor="let file of files; let i = index" class="flex justify-between w-full">
      <div class="flex justify-start item-center">
        <mat-icon class="-mt-1 cursor-pointer" matTooltip="Загрузить файл" (click)="showDoc(file)"
                  [ngClass]="{'text-yellow-300' : file.id === undefined, 'text-green-300': file.id != undefined}">
          insert_drive_file
        </mat-icon>
        <p class="ml-4">&nbsp;{{ file.name }} </p>
      </div>
      <mat-icon *ngIf="file.id != undefined" class="text-gray-300 hover:text-error-base duration-300 cursor-pointer mr-4"
                (click)="deleteFile(i)">delete_forever
      </mat-icon>

      <div *ngIf="file.id === undefined"
           class="inline-block mr-4 h-6 w-6 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] text-primary-dark motion-reduce:animate-[spin_1.5s_linear_infinite]"
           role="status">
        <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
      </div>

    </div>
  </div>

  <div class="absolute bottom-0 left-2 w-[98%] border-t border-t-primary-base text-gray-900">
    <p class="m-0">Общий размер файлов: {{ sumSize }} мб.</p>
    <p class="m-0 text-error-base">{{ maxFilesizeString }}</p>
  </div>
</div>
