<div class=" h-10 bg-primary-base text-center text-white text-lg border border-primary-base flex justify-between">
  <div>
    <mat-icon *ngIf="docPanelCurrentSize > docPanelOpenWidth / 2 && !addDocPanel" (click)="addDocPanel = true"
              class="mt-1 text-yellow-300 text-2xl cursor-pointer hover:scale-125 duration-300"
              matTooltip="Добавить документ">
      add
    </mat-icon>

    <mat-icon *ngIf="docPanelCurrentSize > docPanelOpenWidth / 2 && isModified" (click)="saveChanges()"
              class=" mt-1 text-green-500 text-2xl cursor-pointer hover:scale-125 duration-300"
              matTooltip="Сохранить изменения">
      save
    </mat-icon>
  </div>


  <p *ngIf="docPanelCurrentSize > docPanelOpenWidth / 2" class="inline-block bg-primary-base dark:bg-dark-background">
    Документы</p>
  <mat-icon class=" mt-1 text-white cursor-pointer" (click)="openPanel.emit(); isPanelOpen = !isPanelOpen">menu
  </mat-icon>
</div>

<div class="h-[90%] flex flex-col justify-items-stretch">

  <div *ngIf="addDocPanel"
       class="duration-300 bg-white rounded-2xl text-black border border-primary-base mt-1">
    <div
      class="bg-primary-base text-center text-white text-lg rounded-t-2xl border border-primary-base">
      Создать новый документ
    </div>

    <mat-form-field class="w-full">
      <mat-label>Наименование документа</mat-label>
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" [(ngModel)]="newDocName" (keydown.enter)="addNewDoc()">
      </textarea>
    </mat-form-field>


    <div class="h-10"></div>
    <div class="flex justify-end items-center font-semibold py-2">
      <button class="mx-2" (click)="addNewDoc()">Принять</button>
      <button class="mx-2" (click)="closeDocPanel()">Отменить</button>
    </div>
  </div>

  <div class="overflow-auto" *ngIf="isPanelOpen && (docPanelCurrentSize > docPanelOpenWidth / 2)">
    <mat-tree [dataSource]="dataSource"
              [treeControl]="treeControl"
              class="example-tree bg-gray-200 dark:bg-dark-background h-full">
      <mat-tree-node (click)="stepChange(stepNode)"
                     (mousemove)="isStepHover = true; stepHover = stepNode"
                     (mouseleave)="isStepHover = false"
                     [ngClass]=" stepNode.num != 0 ? 'flex justify-between items-center': 'flex justify-start items-center'"
                     class=" relative text-black dark:text-white cursor-pointer border border-gray-200 dark:border-dark-background hover:border-primary-light dark:hover:border-primary-light"
                     *matTreeNodeDef="let stepNode"
                     matTreeNodeToggle>

        <mat-form-field *ngIf="stepNode.num === 0" class="w-full absolute left-0 -top-1">
          <mat-label>Наименование шага</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" [(ngModel)]="newStepName" (keydown.enter)="enterStep(stepNode)"></textarea>
        </mat-form-field>


        <div *ngIf="stepNode.num != 0" class="flex justify-start items-center">
          <mat-icon *ngIf="stepNode.num != 0" [ngClass]="stepNode == currentStep ? 'text-red-700':'text-transparent'"
                    class="">
            bookmark_border
          </mat-icon>
          <div>{{stepNode.name}}</div>
        </div>

        <div *ngIf="isStepHover && stepHover == stepNode && stepNode.num != 0 && currentEditId === undefined"
             class="flex p-2 rounded-md">
<!--             class="bg-dark-background flex p-2 rounded-md">-->
          <mat-icon class="text-blue-500 mr-1 hover:scale-125 duration-300 flex-auto" (click)="editStep(stepNode)"
                    matTooltip="Редактировать название">edit
          </mat-icon>
          <mat-icon class="text-red-500 mr-1 hover:scale-125 duration-300 flex-auto" (click)="delStep(stepNode)"
                    matTooltip="Удалить шаг">remove
          </mat-icon>
        </div>

      </mat-tree-node>

      <mat-nested-tree-node *matTreeNodeDef="let docNode; when: hasChild">
        <div
          class="flex justify-between items-center relative mat-tree-node dark:text-white cursor-pointer border border-gray-300 dark:border-dark-background hover:border-primary-light dark:hover:border-primary-light"
          (mousemove)="isDocHover = true; docHover = docNode" (mouseleave)="isDocHover = false"
          (click)="documentChange(docNode)">
          <div class="flex justify-start items-center">

            <mat-icon
              [ngClass]="currentDocument != undefined && docNode.id === currentDocument.id ? 'text-red-700':'text-transparent'">
              bookmark_border
            </mat-icon>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + docNode.name"
                    (click)="docToggle(treeControl.isExpanded(docNode), docNode.id)">
              <mat-icon> {{treeControl.isExpanded(docNode) ? 'expand_more' : 'chevron_right'}}</mat-icon>
            </button>
            <div
              [ngClass]="{'text-green-600': (docNode.isModified != undefined && docNode.isModified) }">{{ docNode.name }}</div>
          </div>
          <div *ngIf="isDocHover && docHover == docNode && currentEditDoc === undefined"
               class="flex p-2 rounded-md">
<!--               class="bg-dark-background flex p-2 rounded-md">-->
            <mat-icon (click)="addStep(docNode); treeControl.expand(docNode)"
                      class="text-green-500 mr-1 hover:scale-125 duration-300 flex-auto"
                      matTooltip="Добавить шаг">
              add
            </mat-icon>
            <mat-icon (click)="editDoc(docNode)"
                      class="text-blue-500 mr-1 hover:scale-125 duration-300 flex-auto"
                      matTooltip="Редактировать название">
              edit
            </mat-icon>
            <mat-icon (click)="delDoc(docNode)"
                      class="text-red-500 mr-1 hover:scale-125 duration-300 flex-auto"
                      matTooltip="Удалить документ">
              remove
            </mat-icon>
          </div>
        </div>
        <div [class.example-tree-invisible]="!treeControl.isExpanded(docNode)"
             role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </div>

  <div *ngIf="isPanelOpen && (docPanelCurrentSize > docPanelOpenWidth / 2)" class="border-t border-t-white py-1 flex items-center justify-between">

    <label for="file-download" class="text-white text-center bg-primary-base hover:bg-primary-light w-[48%] inline-block mt-1 ml-0.5
                      focus:ring-4 focus:outline-none focus:ring-primary-light font-medium rounded-lg text-sm px-4 py-2
                      dark:bg-primary-light dark:hover:bg-primary-light dark:focus:ring-primary-light cursor-pointer">
      Загрузить макет
    </label>
    <input id="file-download" type="file" (change)="handleFileSelect($event)" class="invisible h-0 w-0"/>

    <label *ngIf="currentDocument && currentDocument.children.length > 0"
           for="file-upload" class="text-white text-center bg-primary-base hover:bg-primary-light w-[48%] inline-block  mt-1 ml-0.5
                      focus:ring-4 focus:outline-none focus:ring-primary-light font-medium rounded-lg text-sm px-4 py-2
                      dark:bg-primary-light dark:hover:bg-primary-light dark:focus:ring-primary-light cursor-pointer">
      Выгрузить макет
    </label>
    <input id="file-upload" type="button" (click)="uploadCurrentMaket()" class="invisible h-0 w-0"/>

  </div>

</div>
