<div class="w-full bg-gray-200 dark:bg-dark-background">
  <div *ngIf="currentComponent && (propPanelCurrentSize > propPanelOpenWidth / 2)"
       class="w-full grid grid-cols-12 ml-1 mt-2 mr-2 items-baseline dark:text-white pl-1">

    <p class="col-span-4">Ид</p>
    <input class="col-span-8 w-[90%] text-center rounded-md dark:bg-slate-700" type="text"
           [value]="currentComponent.componentID" [readOnly]="true">
    <p class="col-span-4">Имя</p>
    <input class="col-span-8 w-[90%] text-center rounded-md dark:bg-slate-700" type="text"
           [(ngModel)]="currentComponent.componentName">
    <p class="col-span-4">Тип</p>
    <input class="col-span-8 w-[90%] text-center rounded-md dark:bg-slate-700" type="text"
           [value]="currentComponent.componentType" [readOnly]="true">

    <p *ngIf="currentComponent.componentType === 'input'" class="col-span-4">Тип ввода</p>
    <select *ngIf="currentComponent.componentType === 'input'"
            class="col-span-8 w-[90%] text-center rounded-md dark:bg-slate-700"
            [(ngModel)]="currentComponent.inputType">
      <option selected value="text">текст</option>
      <option value="number">число</option>
      <option value="datetime-local">дата время</option>
      <option value="date">дата</option>
      <option value="time">время</option>
      <option value="week">неделя</option>
      <option value="month">месяц</option>
      <option value="checkbox">check</option>
      <option value="radio">radio</option>
      <option value="color">цвет</option>
      <option value="button">кнопка</option>
    </select>

    <!--    параметры печати-->
    <mat-accordion
      *ngIf="currentComponent.inputType !== 'button'"
      class="col-span-12 w-[95%] text-center rounded-md dark:bg-slate-700 bg-gray-200 border border-primary-light relative">
      <mat-expansion-panel hideToggle [expanded]="currentComponent.printRule.isPrint === true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Параметры печати компонента</p>
          </mat-panel-title>
          <mat-icon [ngClass]="(currentComponent.printRule && currentComponent.printRule.isPrint === true) ? 'text-primary-dark':'text-error-base'">print</mat-icon>
        </mat-expansion-panel-header>
        <div class="w-full border-t border-t-primary-light grid grid-cols-12 gap-y-0.5">
          <div class="col-span-12 h-2"></div>
          <span class="col-span-8 text-left">Печатаемый:</span>
          <input class="col-span-4  h-4 w-4" type="checkbox" [(ngModel)]="currentComponent.printRule.isPrint">
          <span class="col-span-8 text-left">Порядковый номер:</span>
          <input class="col-span-4  border border-primary-light" type="number" [(ngModel)]="currentComponent.printRule.order">
          <span class="col-span-8 text-left">С новой строки:</span>
          <input class="col-span-4  h-4 w-4" type="checkbox" [(ngModel)]="currentComponent.printRule.newLine" [disabled]="currentComponent.componentType === 'table' || currentComponent.componentType === 'upload'">
          <span class="col-span-8 text-left">Красная строка:</span>
          <input class="col-span-4  h-4 w-4" type="checkbox" [(ngModel)]="currentComponent.printRule.redLine" [disabled]="currentComponent.componentType === 'table' || currentComponent.componentType === 'upload'">
          <span class="col-span-8 text-left">Дефис:</span>
          <input class="col-span-4  h-4 w-4" type="checkbox" [(ngModel)]="currentComponent.printRule.addDash" [disabled]="currentComponent.componentType === 'table' || currentComponent.componentType === 'upload'">
          <span class="col-span-8 text-left">Рамка:</span>
          <input class="col-span-4  h-4 w-4" type="checkbox" [(ngModel)]="currentComponent.printRule.frame" [disabled]="currentComponent.componentType === 'table' || currentComponent.componentType === 'upload'">
          <span class="col-span-8 text-left">Количество отступов:</span>
          <input class="col-span-4  border border-primary-light" type="number" [(ngModel)]="currentComponent.printRule.tabCount" [disabled]="currentComponent.componentType === 'table' || currentComponent.componentType === 'upload'">

          <hr class="col-span-12">
            <span class="col-span-8 text-left">Таблица кол-во колонок:</span>
            <input class="col-span-4 border border-primary-light" type="number" [(ngModel)]="currentComponent.printRule.tableCol"  [disabled]="currentComponent.componentType === 'table' || currentComponent.componentType === 'upload'">
            <span class="col-span-8 text-left">Номер колонки:</span>
            <input class="col-span-4 border border-primary-light" type="number" [(ngModel)]="currentComponent.printRule.colNum" [disabled]="currentComponent.componentType === 'table' || currentComponent.componentType === 'upload'">
          <hr class="col-span-12">

          <span class="col-span-8 text-left">Размер шрифта:</span>
          <input class="col-span-4 border border-primary-light" type="number" [(ngModel)]="currentComponent.printRule.fontSize" [disabled]="currentComponent.componentType === 'table' || currentComponent.componentType === 'upload'">
          <span class="col-span-8 text-left">Стиль шрифта:</span>
          <select class="col-span-4 border border-primary-light" [(ngModel)]="currentComponent.printRule.fontStyle" [disabled]="currentComponent.componentType === 'table' || currentComponent.componentType === 'upload'">
            <option value="undefined" selected></option>
            <option value="normal">normal</option>
            <option class="font-bold" value="bold">bold</option>
            <option class="italic" value="italic">italic</option>
            <option class="font-semibold" value="semiBold">semiBold</option>
          </select>
          <span class="col-span-8 text-left">Табуляция:</span>
          <select class="col-span-4 border border-primary-light" [(ngModel)]="currentComponent.printRule.align" [disabled]="currentComponent.componentType === 'table' || currentComponent.componentType === 'upload'">
            <option value="left" selected></option>
            <option value="center">центер</option>
            <option value="left">лево</option>
            <option value="right">право</option>
          </select>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <p *ngIf="currentComponent.componentType === 'text'" class="col-span-2 mt-2">Ссылка:</p>
    <input *ngIf="currentComponent.componentType === 'text'"
           class="col-span-10 w-[92%] rounded-md dark:bg-slate-700 mt-2" type="text"
           [(ngModel)]="currentComponent.inputType">

    <div *ngIf="currentComponent.inputType === 'text' || currentComponent.componentType === 'area'"
         class="col-span-12 w-[95%] rounded-md border border-solid border-primary-light relative  mt-2">
      <p class=" text-center">Ограничения текста</p>
      <div class="w-full grid grid-cols-12 ml-1 mt-1 mr-2 items-baseline dark:text-white">
        <p class="col-span-8">Минимальная длинная:</p>
        <input class="col-span-4 w-[90%] text-center rounded-md dark:bg-slate-700" type="number"
               [(ngModel)]="currentComponent.minLength">
        <p class="col-span-8">Максимальная длинна:</p>
        <input class="col-span-4 w-[90%] text-center rounded-md dark:bg-slate-700" type="number"
               [(ngModel)]="currentComponent.maxLength">
        <p class="col-span-8">Маска ввода значения:</p>
        <textarea [(ngModel)]="currentComponent.regExp"
                  placeholder="Сюда можно вставить маску ввода см. ng-mask"
                  class="col-span-12 w-[98%]  rounded-md dark:bg-slate-700">
        </textarea>
      </div>
    </div>

    <div *ngIf="currentComponent.inputType === 'number'"
         class="col-span-12 w-[95%] rounded-md border border-solid border-primary-light relative">
      <p class="text-center">Ограничения значения</p>
      <div class="w-full grid grid-cols-12 ml-1 mt-1 mr-2 items-baseline dark:text-white">
        <p class="col-span-8">Минимальное значение</p>
        <input class="col-span-4 w-[90%] text-center rounded-md dark:bg-slate-700" type="number"
               [(ngModel)]="currentComponent.minVal">
        <p class="col-span-8">Максимальное значение</p>
        <input class="col-span-4 w-[90%] text-center rounded-md dark:bg-slate-700" type="number"
               [(ngModel)]="currentComponent.maxVal">
      </div>
    </div>

    <div class="col-span-12 mt-4 grid grid-cols-12">
      <input class="col-span-1 h-4 w-4 text-center" type="checkbox" [(ngModel)]="addFrame">
      <div class="col-span-5 -mt-1">Добавить рамку</div>
      <input class="col-span-6 w-[90%] -mt-2" type="color" *ngIf="addFrame" [(ngModel)]="currentComponent.frameColor">
    </div>


    <div class="col-span-full mt-4 " *ngIf="currentComponent.componentType !== 'text' && currentComponent.inputType != 'button'">
      <input id="reqCheck" class="rounded-md" type="checkbox"[(ngModel)]="currentComponent.required">
      <label for="reqCheck"  class="ml-4">Обязательно для заполнения</label>
    </div>

    <span
      *ngIf="currentComponent.componentType === 'input' || currentComponent.componentType === 'area'|| currentComponent.componentType === 'select' || currentComponent.componentType === 'place'"
      class="col-span-12 text-center mt-4">Текст компонента</span>
    <textarea
      *ngIf="currentComponent.componentType === 'input' || currentComponent.componentType === 'area'|| currentComponent.componentType === 'select' || currentComponent.componentType === 'place'"
      [(ngModel)]="currentComponent.placeHolder"
      class="col-span-12 w-[95%] rounded-md dark:bg-slate-700"></textarea>

    <div *ngIf="currentComponent.componentType === 'text'"
         class="col-span-12 w-[95%] text-center rounded-md dark:bg-slate-700 border border-solid border-primary-light relative mt-2">
      <p class="">Расположение текста компонента</p>
      <mat-button-toggle-group [(ngModel)]="currentComponent.textPosition.horizontal">
        <mat-button-toggle value="left">
          <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center">
          <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="right">
          <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="justify">
          <mat-icon>format_align_justify</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group [(ngModel)]="currentComponent.textPosition.vertical">
        <mat-button-toggle value="top">
          <mat-icon class="rotate-90">format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center">
          <mat-icon class="rotate-90">format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="bottom">
          <mat-icon class="rotate-90">format_align_right</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <span
      *ngIf="currentComponent.componentType === 'input' || currentComponent.componentType === 'area'|| currentComponent.componentType === 'select'"
      class="col-span-12 text-center">Текст подсказки</span>
    <textarea
      *ngIf="currentComponent.componentType === 'input' || currentComponent.componentType === 'area'|| currentComponent.componentType === 'select'"
      [(ngModel)]="currentComponent.notification"
      class="col-span-12 w-[95%] rounded-md dark:bg-slate-700"></textarea>

    <button *ngIf="currentComponent.componentType === 'select'"
            class="prop-button mat-elevation-z5 hover:border-primary-dark border-solid" (click)="openOptionsDialog()">
      <mat-icon>list</mat-icon>
      <p>Список значений</p>
    </button>

    <button class="prop-button mat-elevation-z5 hover:border-primary-dark" (click)="openMasterControlDialog()">
      <mat-icon>sync</mat-icon>
      <p>Управление компонентом</p>
    </button>

    <button *ngIf="eventService.isComponentMastHaveEvents(currentComponent)"
      class="prop-button mat-elevation-z5 hover:border-primary-dark" (click)="openEventControlDialog()">
      <mat-icon>event</mat-icon>
      <p>Управление событиями</p>
    </button>

  </div>
</div>
