<div     [ngStyle]="{'height.px':height,'width.px':width}"
         [style.top.px]="top + 4" [style.left.px]="left + 4" [style.border-color]="localBorderColor"
         *ngIf="visible"
         class="absolute z-10 flex justify-center items-center rounded-lg border hover:border-primary-base" >

  <select class="w-full h-[98%] bg-white pl-2 rounded-lg cursor-pointer"
          [(ngModel)]="value" [disabled]="!enabled" [matTooltip]="checkedText" (click)="changeComponent()" >
<!--    <option [value]="-888888888888" hidden>{{placeHolder}}</option>-->
    <option [value]="undefined" hidden>{{placeHolder}}</option>
    <option *ngFor="let item of optionList" [value]="item">{{ item }}</option>
  </select>
</div>

