<div *ngIf="isShow" class="absolute h-screen w-screen flex justify-center items-center bg-gray-200 z-50 bg-opacity-50">
  <div class=" bg-white rounded-2xl  border z-10000 dark:bg-slate-700 relative px-6 mat-elevation-z10 w-[80%] max-h-screen overflow-auto"
       [ngClass]="{'border-primary-base': message.dialogType === 'INFO','border-error-base': message.dialogType === 'ERROR'}">
    <div *ngIf="message.dialogType === 'ERROR'" class="text-center text-error-base mt-2 text-xl">Извините что-то пошло не так попробуйте позже... </div>
    <div *ngIf="message.dialogType === 'INFO'" class="text-center text-primary-dark mt-2 text-xl">Информация</div>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header [style]="'height:auto'" class="p-1">
          <mat-panel-title class="">
            <div class="text-center mt-4 w-full" [innerHTML]="message.message"></div>
          </mat-panel-title>
           <mat-icon class="text-primary-dark mt-2">info</mat-icon>
        </mat-expansion-panel-header>
        <div class="overflow-auto h-full">
          <p [innerHTML]="message.hideMessage"></p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="w-full flex justify-end mt-10">
      <button *ngIf="findButton('CLOSE')" class="border rounded-lg p-1 mb-1 w-20 ml-1" (click)="close('CLOSE')">Закрыть</button>
      <button *ngIf="findButton('YES')" class="border rounded-lg p-1 mb-1 w-20 ml-1" (click)="close('YES')">Да</button>
      <button *ngIf="findButton('NO')" class="border rounded-lg p-1 mb-1 w-20 ml-1" (click)="close('NO')">Нет</button>
      <button *ngIf="findButton('CANCEL')" class="border rounded-lg p-1 mb-1 w-20 ml-1" (click)="close('CANCEL')">Отменить</button>
    </div>
  </div>
</div>
