<div class="absolute bg-white border border-solid border-primary-light py-4 px-4 rounded-2xl z-20" [ngStyle]="{'left.px': x, 'top.px': y}">
  <ul class="list-group">
    <li class="flex items-center text-black hover:bg-primary-light hover:text-white mt-1 cursor-pointer rounded-md w-full"
        (click)="click('delete')">
      <mat-icon class="text-red-900">clear</mat-icon>
      <span class="ml-2">Удалить</span>
    </li>
    <li class="flex items-center text-black hover:bg-primary-light hover:text-white mt-1 cursor-pointer rounded-md w-full"
        (click)="click('edit')" *ngIf="CompType === 'text'">
      <mat-icon class="text-primary-base">mode_edit</mat-icon>
      <span class="ml-2">Редактировать</span>
    </li>
  </ul>
</div>
